<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list>
  <ion-item>
	<ion-label floating>Username</ion-label>
	<ion-input type="text" #username></ion-input>
  </ion-item>
  <ion-item>
	<ion-label floating>Password</ion-label>
	<ion-input type="password" #password></ion-input>
  </ion-item>
</ion-list>
  <div padding>
	<button block ion-button (click)="signIn()">Sign In</button>
  </div>
</ion-content>
